.facetwp-type-p2p {
    overflow: auto;
    max-height: 160px;
}

.facetwp-p2p {
    background: url(../images/checkbox.png) 0 50% no-repeat;
    background-size: 14px 14px;
    margin-bottom: 4px;
    padding-left: 20px;
    cursor: pointer;
}

.facetwp-p2p.checked {
    background-image: url(../images/checkbox-on.png);
}

.facetwp-p2p.disabled {
    opacity: 0.4;
    cursor: default;
}