.facetwp-type-p2p {
    overflow: auto;
    max-height: 160px;
}

.facetwp-p2p {
    background: url(../images/checkbox.png) no-repeat;
    margin-bottom: 4px;
    padding-left: 20px;
    cursor: pointer;
}

.facetwp-p2p.checked {
    background: url(../images/checkbox-on.png) no-repeat;
}

.facetwp-p2p.disabled {
    opacity: 0.4;
    cursor: default;
}